body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 243);
    

    main{
        
        padding: 2em;
        margin: 2em;

        section{
            box-shadow: 0 0 10px gray;
            border-radius: 2em;
            background-color: white;
            padding: 2em;
            margin: 1em;
            transition: width 0.3s ease, box-shadow 0.3s ease;
            color: rgb(0, 0, 60);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 30%;
                left: 4%;
                width: 0%;
                height: 3px;
                background-color: rgb(0, 0, 60);
                transition: width 0.2s ease-in-out;
                border-radius: 3rem;
            }
            &.collapsed:hover::after {
                width: 35%;
            }
            &.collapsed .infoList.show::after {
                width: 0%;
            }
            

            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .toggleBtn {
                    cursor: pointer;
                    transition: transform 0.5s ease;
                    font-size: 1.4rem;
                    color: #333;
                }
                .toggleBtn.rotate {
                    transform: rotate(405deg);
                }
            }
            
            .infoList{
                max-height: 0;
                overflow: hidden;
                margin-top: 0;
                margin-bottom: 0;
                transition: max-height 0.5s ease;
            }
            .infoList.show{
                max-height: 500px;
            }

            i{
                color: rgb(0,0,60);
                font-size: 1.5rem;
                width: 1rem;
                height: 2rem;
            }
        }
        .info{
            ul{
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
                li{
                    display: flex;
                    align-items: center;
                    padding: 0.7rem;
                    font-size: 1rem;
                    font-weight: bold;
                    span{
                        width: 4%;
                    }
                    a{
                        text-decoration: none;
                        color: rgb(0, 0, 60);
                    }
                }
            }      
        }
        .links{
            width: 10%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (min-width: 768px) {
    section:hover{
        justify-self: center;
        width: 90%;
        box-shadow: 0 0 15px rgba(0, 0, 60, 0.595);

        cursor: grab;

        section{
            position: static;
        }
    }
}


